nav a{
    display: inline-block;
    width: 20vw;
    background-color: rgb(157, 236, 219);
    color: rgb(140, 0, 255);
    border-radius: 10px;
    text-align: center;
}

section input{
    display: inline-block;
    width: 45%;
    margin: 5%;
    background-color: rgb(127, 186, 241);
    color: white;
    border: solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}